<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flexbox</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/flexbox.css" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

</head>


<body>
    <div class="box">
        <div class="box1">
            <div class="box2">
                <div class="col">
                    <span class="point"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="p2">
        <div class="box1">
            <div class="box2">
                <div class="col">
                    <span class="point"></span>
                </div>
                <div class="col">
                    <span class="point"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="p3">
        <div class="box1">
            <div class="box2">
                <div class="col">
                    <span class="point"></span>
                </div>
                <div class="col">
                    <span class="point"></span>
                </div>
                <div class="col">
                    <span class="point"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="box">
        <div class="box1">
            <div class="box2">
                <div class="col">
                    <span class="point"></span>
                    <span class="point"></span>
                </div>
                <div class="col">
                    <span class="point"></span>
                    <span class="point"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="box">
        <div class="box1">
            <div class="box2">
                <div class="col">
                    <span class="point"></span>
                    <span class="point"></span>
                </div>

                <div class="col">
                    <span class="point"></span>
                </div>
                <div class="col">
                    <span class="point"></span>
                    <span class="point"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="box">
        <div class="box1">
            <div class="box2">
                <div class="col">
                    <span class="point"></span>
                    <span class="point"></span>
                </div>

                <div class="col">
                    <span class="point"></span>
                    <span class="point"></span>
                </div>
                <div class="col">
                    <span class="point"></span>
                    <span class="point"></span>
                </div>
            </div>
        </div>

    </div>
</body>

</html>